@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <h4>Most Recent Products</h4>
    <hr />
    <div class="row">
    </div>
</div>