@model IEnumerable<Bangazon.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<form asp-controller="Home" asp-action="IndexSearchCity">
    <p>
        Search by City: <input type="text" name="SearchString">
        <input type="submit" value="Search" />
    </p>
</form>

<div>
    <h4>Most Recent Products</h4>
    <hr />
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(linkText: item.Title,
                    actionName: "Details",
                    controllerName: "Products",
                    routeValues: new { id = item.ProductId },
                    htmlAttributes: null)
            </li>
        }
    </ul>
</div>