@model Bangazon.Models.ProductTypeViewModels.ProductTypesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Product Types</h1>
<hr/>

@foreach (var item in Model.GroupedProducts)
{
    <h4>
        <div>
            @Html.DisplayFor(modelItem => item.TypeName)
            (@Html.DisplayFor(modelItem => item.ProductCount))
        </div>
    </h4>
    <ul>
        @foreach (var product in item.Products)
        {
            <a href="">
                <li>
                    @Html.DisplayFor(modelItem => product.Title)
                </li>
            </a> 
        }
    </ul>
    
}